#map {
  height: 100vh;
}
.loader {
  position: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9999;
}
.marker {
  background-size: cover;
  width: 30px;
  height: 24px;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
#report-form{
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: grey;
}
