@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700);

#app {
  position: relative;
}
/* Background ================================== */
#background-image {
  background: url(/public/images/streets-background-min.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
}
.blur{
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
/* Signup/Login Logo Box ======================= */
.logo-box{
  width: 100%;
  text-align: center;
  margin-top: 4em;
}
.logo {
  width: 332px;
  margin-left: auto;
  margin-right: auto;
  /* For smaller mobile phones < 350px: */
  max-width: 100%;
}

/* Map  ========================================= */
#map {
  height: 65vh;

}
.loader {
  position: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9999;
}
.lot {
  background-image: url('/public/images/parkinglot.png');
  background-size: cover;
  width: 50px;
  height: 40px;
  cursor: pointer;
}
.marker {
  background-size: cover;
  width: 30px;
  height: 24px;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* List View */
.cREHHl {
  background: none !important
}


#list {
  list-style-position: inside;
  height: 30vh;
  position: inherit;
  overflow: scroll
}

/* Report Form =================================== */

#report-form{
  position: absolute;
  background-color: rgba(51, 51, 51, 0.81);
  border-radius: 1em;
  z-index: 2;
  font-family: 'Righteous', sans-serif
}

#report-form .spot-location {
  color: #00A0B0;
  margin: 1em 1em 1em 1em;
  font-size: 12px;
}

#report-form .spot-location li {
  color: black;
}

#report-form .spot-location button {
  margin-bottom: 0.1em;
}


#report-form #spot-description {
  /* border-bottom: 0.1em solid #DCE1CB; */
  padding-bottom: 1vh;
  font-size: 20px;
}

#report-form #upload-button {
  margin-bottom: 0.7em;
}

#report-form .list-group-item {
  font-size: 9px;
}

#report-form .form-group .text-center {
  margin-top: 0.7em;
  color: #DD4B39;
}

.spot-location strong {
  color: #DD4B39;
}

.spot-location .pull-right {
  color: #DD4B39;
  font-size: 10px;
  margin-left: 1em;
}

.spot-location .col-xs-2 {
  color: #DD4B39;
  font-size: 20px;
}



/*#auth {
  width: 25em;
  margin-left: 5em;
  margin-top: 3em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: 40px auto;
  background: rgba(23, 23, 23, 0.61);
  max-width: 960px;
  border-radius: 5px;
  padding: 50px;
}*/


/* Auth Form =================================== */

#auth #form-submit {
  width: 13.5em;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

form ul {
  padding-left:0;
}
form ul li {
  display: block;
}
.flat-form {
  background: rgba(51, 51, 51, 0.87);
  color: white;
  margin: 25px auto;
  width: 390px;
  height: 340px;
  position: relative;
  font-family: 'Roboto';
}
.flat-form .tabs {
  display: block;
  background: rgba(204, 204, 204, 0.33);
  width: 100%;
  height: 46px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  position: relative;
  list-style-type: none;
}
.flat-form .tabs li {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
}
.flat-form .tabs li a {
  display: block;
  /*background: rgba(204, 204, 204, 0.33);*/
  color: white;
  text-decoration: none;
  font-size: 16px;
  float: left;
  padding: 12px 22px;
}
.flat-form .tabs li a.active {
  background: rgba(51, 51, 51, 0.87);
  border-right: none;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.flat-form .tabs li a:hover {
  background: #999;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* If we implement reset pass, there's
   additional space here in the tab
*/
/*.flat-form .tabs li:last-child a {
  text-align: center;
  width: 174px;
  padding-left: 0;
  padding-right: 0;
  border-right: none;
}*/
.flat-form .form-action {
  padding: 0 20px;
  position: relative;
}
.flat-form h1 {
  font-size: 42px;
  padding-bottom: 10px;
  color: #00A0B0;
}
.flat-form p {
  font-size: 12px;
  padding-bottom: 10px;
  line-height: 25px;
}
.flat-form a {
  color: #fff;
  text-decoration: none;
}
.flat-form form {
  padding-right: 20px !important;
}
.flat-form form input {
  font-family: 'Roboto';
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  background: #fff;
  border: none;
  color: #333333;
  outline: none;
}
.flat-form form input.button {
  border: none;
  display: block;
  background: #136899;
  height: 40px;
  width: 80px;
  color: #ffffff;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 3px 1px #2075aa;
  -webkit-box-shadow: 0px 3px 1px #2075aa;
  box-shadow: 0px 3px 1px #2075aa;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.flat-form form input.button:hover {
  background: #1e75aa;
  -moz-box-shadow: 0 3px 1px #237bb2;
  -webkit-box-shadow: 0 3px 1px #237bb2;
  box-shadow: 0 3px 1px #237bb2;
}
.flat-form form input.button:active {
  background: #136899;
  @inclue box-shadow( 0 3px 1px #0f608c );
}
.flat-form form input::-webkit-input-placeholder {
  color: #333333;
}
.flat-form form input:-moz-placeholder {
  color: #333333;
}
.flat-form form input::-moz-placeholder {
  color: #333333;
}
.flat-form form input:-ms-input-placeholder {
  color: #333333;
}
.flat-form .show {
  display: block;
}
.flat-form .hide {
  display: none;
}

/* Login Button =================================== */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 10px 15px 10px 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 2;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Google */
.loginBtn--google {
  font-family: "Roboto", Roboto, arial, sans-serif;
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
  text-decoration: none;
}

/* Spot Popup =================================== */
.spot-popup {
  background-color: #eeeeee;
  font-family: "Roboto", Roboto, arial, sans-serif;
  padding: 15px;
  color: #fff;
  border-radius: 10px;
}
.spot-popup div {
  margin-bottom: 10px;
}
.spot-popup strong {
  font-size: 1.5em;
  margin: 10px 0px;
}
.spot-popup span {
  font-size: 2.5em;
}
/* Overrides default popup padding */
.mapboxgl-popup-content {
  padding:0px;
  border-radius: 10px;
}
.mapboxgl-popup-tip {
  border-right-color: #333;
}
.fresh {
  background-color: #00A0B0;
}
.rotten {
  background-color: #CA3543;
}
.spot-actions {
  text-align: center;
}
.spot-actions button:first-child {
  margin-right: 10px;
}
.spot-btn-take {
  background-color: #EDC951;
  border-color: #EDC951;
  padding: 10px;
  color: #6A4A3C;
}
.spot-btn-take:hover {
  background-color: #EB6841;
  border-color: #EB6841;
  color: #fff;
}
.spot-btn-nav {
  background-color: #6A4A3C;
  border-color: #6A4A3C;
  padding: 10px;
  color: #fff;
}
.spot-btn-nav:hover {
  background-color: #7b665c;
  border-color: #7b665c;
  color: #000;
}

#meter {
  display: none;
}

/* Directions =================================== */
.directions-btn-exit {
  margin-bottom: 10px;
  float: right;
}
.directions-btn-exit:hover {
  background-color: #e2e2e2!important;
}

/* Map Buttons =================================== */
.create-btn-geo {
  margin: 15px;
  width: 25%;
  padding: 10px;
  pointer-events: all;
}

