#map {
  height: 100vh;
}
.loader {
  position: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9999;
}
.lot {
  background-image: url('/public/images/parkinglot.png');
  background-size: cover;
  width: 50px;
  height: 40px;
  cursor: pointer;
}
.marker {
  background-size: cover;
  width: 30px;
  height: 24px;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
#report-form{
  position: fixed;
  top: 20%;
  left: 30%;
  background-color: lightblue;
}

#auth {
  width: 25em;
  margin-left: 5em;
}

#auth #form-submit {
  width: 12.5em;
}

#auth-google {
  margin-left: 1em
}
/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
